@model TMDT_Banmypham.Models.DB.Sanpham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaSp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaSp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLspNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLspNavigation.MaLsp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
